{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}


<header class="masthead text-white text-center">
	 <div class="container">
		<h1>Under Development!!!!</h1>
	</div>

</header>
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap
white-space: nowrap

{% endblock %}